.module h2, .module caption, .inline-group h2, .selector-chosen{
    border-radius: 10px;
}

.djn-group-root {
    padding-left: 0;
}

.djn-group-nested {
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: -2px 0 5px -2px rgba(84, 84, 84, 0.5),
                0 2px 5px -2px rgba(84, 84, 84, 0.5);

    padding-left: 10px;
}
.inline-related h3{
    background-color: #b6b6b6;
    border-radius: 10px;

}
